#a {
    background-color: rgb(0,0,100);
}

#b {
    background-color: rgb(0,0,150);
}

#c {
    background-color: rgb(0,0,200);
}

#d {
    background-color: rgb(0,0,250);
}

#e {
    background-color: rgb(40,40,250);
}

#f {
    background-color: rgb(80,80,250);
}

#g {
    background-color: rgb(120,120,250);
}

#h {
    background-color: rgb(160, 160, 250);
}

#i {
    background-color: rgb(200, 200, 250);
}

@media only screen and (min-width: 768px) {
    #a {
        background-color: rgb(100,0,0);
    }
    
    #b {
        background-color: rgb(150,0,0);
    }
    
    #c {
        background-color: rgb(200,0,0);
    }
    
    #d {
        background-color: rgb(250,0,0);
    }
    
    #e {
        background-color: rgb(250,40,40);
    }
    
    #f {
        background-color: rgb(250,80,80);
    }
    
    #g {
        background-color: rgb(250,120,120);
    }
    
    #h {
        background-color: rgb(250,160,160);
    }
    
    #i {
        background-color: rgb(250,200,200);
    }
}